.admin-sidebar{
width:230px;
background:#f8fbff;
border-right:1px solid #e6eefc;
padding:24px 18px;
position:fixed;
height:100%;
transition:all .3s ease;
display:flex;
flex-direction:column;
}

.sidebar-header{
font-size: 20px;
  font-weight: 600;
  font-family: "Langar", cursive;
  background: linear-gradient(
    90deg,
    #3e75ce,
    #041840
  ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar-links{
display:flex;
flex-direction:column;
gap:8px;
}

.sidebar-links a{
display:flex;
align-items:center;
gap:10px;
text-decoration:none;
padding:10px 12px;
border-radius:8px;
color:#475569;
font-size:14px;
transition:all .2s;
}

.sidebar-links a span{
font-size:16px;
}

.sidebar-links a:hover{
background:#eef4ff;
color:#2563eb;
}

.sidebar-links a.active{
background:#e8f0ff;
color:#2563eb;
font-weight:800;
}
.sidebar-icon img{
    height: 20px;
    width: 20px;
}
/* mobile */

@media(max-width:900px){

.admin-sidebar{
transform:translateX(-100%);
z-index:1000;
box-shadow:0 15px 40px rgba(0,0,0,0.1);
}

.admin-sidebar.open{
transform:translateX(0);
}

}